<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"		
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
	<script th:inline="javascript">
		
	
	</script>

</th:block>


<div layout:fragment="content" id="content-container">
    <div id="features"  class="main-page-section">
        <div class="w-layout-blockcontainer music-search-container w-container">
            <div class="genre-detail-div-block">
            	<img th:src="${genreImg}"
                    loading="lazy" alt="" class="genre-image" />
                <div class="genre-info-div-block">
                    <div class="genre-name" th:text="${genre}">Rock &amp; Metal</div>
                    <div class="genre-info" th:text="${tracks + '곡 · ' + totalPlayHour + '시간 ' + totalPlayMinutes + '분'}">98곡 · 1시간 25분</div>
                </div>
            </div>
	            
            
            <div th:each="music : ${genreResults}" class="search-foreach-div-block">
	                <div  class="search-music-row w-row" >
	                    <div class="main-top-music-img-column w-col w-col-4">
	                    	<img th:src="${music.imgUrl}"
	                             width="100" height="100"
	                            alt=""  class="main-top-music-img" />
	                        <img th:src="@{/static/images/music_play_button.png}" th:onclick="playMusic(/*[[${music.id}]]*/, /*[[${music.musicUrl}]]*/, /*[[${music.imgUrl}]]*/, /*[[${music.aiSinger}]]*/, /*[[${music.title}]]*/, /*[[${music.oriSinger}]]*/, /*[[${music.memberDetail.nickname}]]*/); showFooter()"
    							loading="lazy" alt="" class="play-button-img" /></div>
	                    <div class="main-top-music-detail-column w-col w-col-4">
	                        <h4 class="main-top-music-title" th:text="${music.aiSinger + ' - ' + music.title + '(' + music.oriSinger + ')'}">AI 가수 - Title(원작자)</h4>
	                        <p class="main-top-music-uploader" th:text="${music.uploaderNickname}">Uploader</p>
	                        <div class="current-div-block">
	                        	<img th:src="@{/static/images/like.png}" loading="lazy" width="24" alt="" class="main-top-music-show-like-img" />
	                            <div class="main-top-music-show-like-text" th:id="'likeCount' + ${music.id}" th:text="${music.like}">55.3k</div>
	                        </div>
	                    </div>
	                    <div class="main-top-music-last-column w-col w-col-4">
	                        <div class="main-top-music-function-columns w-row">
	                            <div class="main-top-music-function-like-column w-col w-col-4">
	                            	<img th:src="@{/static/images/like.png}" loading="lazy"  
	                            		th:attr="data-like-music-id=${music.id}, data-like-music-ids=${likeMusicIds}" onclick="likeMusic(this)" alt="" class="main-top-music-function-like" /></div>
	                            <div class="main-top-music-function-addsong-column w-col w-col-4">
	                            	<img th:src="@{/static/images/add_song.png}" loading="lazy"  alt=""
	                                    th:attr="data-add-music-id=${music.id}, data-add-music-ids=${addMusicIds}" onclick="addMusic(this)" class="main-top-music-function-addsong" /></div>
	                            <div class="main-top-music-function-report-column w-col w-col-4"><a href="#"
	                                    class="main-report-link-block w-inline-block">
	                                <img th:src="@{/static/images/report.png}" loading="lazy"  alt=""
	                                        class="main-top-music-function-report" /></a></div>
	                        </div>
	                    </div>
	                </div>
	         </div>
            
            
        </div>
    </div>
</div>

</html>