<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org" 
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<div layout:fragment="content" id="content-container"> 
	<!-- 신고 목록 모달  -->
	<div id="reportListModalContainer" class="report-list-modal-container">
        <div class="report-list-modal">
            <div class="login-modal-delete-div-block">
            	<img th:src="@{/static/images/black_delete.png}" id="closeReportListModalBtn" class="login-modal-delete-btn w-button"></img>
            </div>
            <div class="report-check-music-info-div-block">
                <div id="reportListMusicTitle" class="report-check-music-title">노래: AI 가수 - 제목(원래가수)</div>
                <div id="reportListMusicUploader" class="report-check-music-uploader">업로더: 테스트유저</div>
            </div>
            <div class="report-music-content-text-block">내용</div>
            <div class="report-check-form-block w-form">
                <form id="email-form" name="email-form" method="post" class="report-check-form">
                    <div id="reportListMusicContent" class="report-music-content">This is some text inside of a div block.</div>
                    <input id="reportListMusicDeleteBtn" type="submit" value="음악 삭제" class="music-delete-submit-button w-button" />
                </form>
            </div>
        </div>
    </div>
        
    <div id="features" class="main-page-section">
        <div class="w-layout-blockcontainer report-list-page-container w-container">
            <div class="report-list-heading-div-block">
                <div class="community-heading-text-block">신고 목록</div>
            </div>
            <div class="report-list-header-div-block">
                <div class="report-list-num-div-block">
                    <div class="report-list-num-text-block">번호</div>
                </div>
                <div class="report-list-title-div-block">
                    <div class="report-list-title-text-block">노래 제목</div>
                </div>
                <div class="report-list-date-div-block">
                    <div class="report-list-date-text-block">작성일</div>
                </div>
                <div class="report-list-uploader-div-block">
                    <div class="report-list-uploader-text-block">업로더</div>
                </div>
            </div>
            <div class="report-list-post-divblock">
                <div class="report-list-post-foreach-div-block" th:each="post : ${paging.content}">
                    <div class="report-list-num-div-block">
                        <div class="report-list-post-num-text-block" th:text="${post.id}">1</div>
                    </div>
                    <div class="report-list-title-div-block">
                        <div class="report-list-post-title-text-block" th:text="${post.music.aiSinger + ' - ' + post.music.title + '(' + post.music.oriSinger + ')'}" 
                        th:onclick="openReportListModal(/*[[${post.music.id}]]*/, /*[[${post.music.aiSinger}]]*/, /*[[${post.music.title}]]*/, /*[[${post.music.oriSinger}]]*/, /*[[${post.music.memberDetail.nickname}]]*/, /*[[${post.reportContent}]]*/)"></div>
                    </div>
                    <div class="report-list-date-div-block">
                        <div class="report-list-post-date-text-block" th:text="${#temporals.format(post.regTime, 'MM.dd')}">11.17</div>
                    </div>
                    <div class="report-list-uploader-div-block">
                        <div class="report-list-post-uploader-text-block" th:text="${post.uploaderNickname}" th:onclick="memberPageLoad(/*[[${post.uploaderNickname}]]*/)">testUser</div>
                    </div>
                </div>
            </div>
            <div class="community-page-div-block">
            	<img th:src="@{/static/images/left_double_arrows.png}"
                    loading="lazy" alt="" class="community-page-control-image" onclick="CommunityLoad(0)"/>
                <img th:src="@{/static/images/left_arrows.png}" th:onclick="'CommunityLoad(' + ${paging.number - 1} + ')'"
                    loading="lazy" alt="" class="community-page-control-image" th:style="${!paging.hasPrevious} ? 'display: none;' : ''" />
                    
                <div class="community-page-foreach-div-block" th:if="${paging != null and paging.totalPages > 0}"	th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}">
                    <div class="community-page-num" th:if="${page >= paging.number-2 and page <= paging.number+2}" th:text="${page + 1}"  th:style="${page == paging.number} ? 'color: #3333FF;' : ''" th:onclick="'CommunityLoad(' + ${page} + ')'">1</div>
                </div>
                
                <img th:src="@{static/images/right_arrows.png}" th:onclick="'CommunityLoad(' + ${paging.number + 1} + ')'"
                    loading="lazy" alt="" class="community-page-control-image"  th:style="${!paging.hasNext} ? 'display: none;' : ''"/>
                <img
                    th:src="@{static/images/right_double_arrow.png}"
                    loading="lazy" alt="" class="community-page-control-image" th:onclick="'CommunityLoad(' + (${paging.totalPages} - 1) + ')'" />
            </div>
            <div class="community-search-form-block w-form">
                <form id="report-form" name="report-form" method="post" class="report-list-search-form">
                    <div class="report-list-select-div-block"><select id="filter" name="filter"
                            class="report-list-search-select-field w-select">
                            <option value="title">제목</option>
                            <option value="nickname">업로더</option>
                        </select></div><input type="text" class="report-list-search-text-field w-input" maxlength="256"
                        name="keyword" placeholder="" id="keyword" /><input type="submit" value=""
                        onclick="ReportSearchLoad()" class="report-list-search-submit-button w-button" />
                </form>
            </div>
        </div>
    </div>

</html>