<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org" 
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
		>

<div layout:fragment="content" id="content-container"> 
    <div id="features" class="main-page-section">
        <div class="w-layout-blockcontainer community-page-container w-container">
        	<div class="community-menu-div-block">
                <div class="community-menu-request-div-block" onclick="CommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6551b72c09318e5ad39a5493_ai_post_mike.png"
                        loading="lazy" alt="" class="community-menu-request-image" />
                    <div class="community-menu-request-text">신청곡 게시판</div>
                </div>
                <div class="community-menu-voice-div-block" onclick="VoiceCommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/655507fd6c13baf72af07476_voice_download.png"
                        loading="lazy" alt="" class="community-menu-voice-image" />
                    <div class="community-menu-voice-text">목소리 게시판</div>
                </div>
                <div class="community-menu-tip-div-block" onclick="TipCommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6554fe9f2a23195a4cd5e2dd_tip.png"
                        loading="lazy" alt="" class="community-menu-tip-image" />
                    <div class="community-menu-tip-text">팁 게시판</div>
                </div>
            </div>
            <div class="community-heading-div-block"><img
                    th:src="@{/static/images/ai_post_mike.png}"
                    loading="lazy" alt="" class="community-heading-img" />
                <div class="community-heading-text-block">AI 신청곡 게시판</div>
            </div>
            <div class="community-write-form-block w-form">
            
                <form  id="email-form" name="request-post-form"  method="post" class="community-write-form">
                		<input type="text"  class="community-write-title-text-field w-input" name="title"
                        		placeholder="제목" id="title" />
                        <textarea maxlength="5000" id="content"
                        		name="content" class="community-write-content-text-field w-input"></textarea>
                    <div class="community-write-button-div-block">
                    	<a onclick="CommunityLoad(0, '')" class="community-write-cancel-button w-button">취소</a>
                    	<input type="submit" onclick="CommunityWriteEndLoad()" value="작성" class="community-write-sumbit-button w-button" /></div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>