<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org" 
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<div layout:fragment="content" id="content-container"> 
    <div id="features" class="main-page-section">
        <div class="w-layout-blockcontainer community-page-container w-container">
        	<div class="community-menu-div-block">
                <div class="community-menu-request-div-block" onclick="CommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6551b72c09318e5ad39a5493_ai_post_mike.png"
                        loading="lazy" alt="" class="community-menu-request-image" />
                    <div class="community-menu-request-text">신청곡 게시판</div>
                </div>
                <div class="community-menu-voice-div-block" onclick="VoiceCommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/655507fd6c13baf72af07476_voice_download.png"
                        loading="lazy" alt="" class="community-menu-voice-image" />
                    <div class="community-menu-voice-text">목소리 게시판</div>
                </div>
                <div class="community-menu-tip-div-block" onclick="TipCommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6554fe9f2a23195a4cd5e2dd_tip.png"
                        loading="lazy" alt="" class="community-menu-tip-image" />
                    <div class="community-menu-tip-text">팁 게시판</div>
                </div>
            </div>
            <div class="community-heading-div-block"><img
                    th:src="@{/static/images/tip.png}"
                    loading="lazy" alt="" class="community-heading-img" />
                <div class="community-heading-text-block">목소리 게시판</div>
            </div>
            <div class="w-form">
                <form id="voice-post-form" name="voice-post-form" method="post" class="voice-upload-form" enctype="multipart/form-data">
                    <div class="voice-upload-file-div-block">
                        <div class="voice-upload-file-name-text-block">파일명</div>
                        <div class="voice-upload-file-name-div-block">
                            <label class="voice-upload-file-name" id="voiceFileName"></label>
                        </div>
                    </div><label class="voice-image-upload-button w-button" th:onclick="voiceFileUpload.click()">목소리 파일 업로드</label>
                    	  <input type="file" name="voiceFileUpload" id="voiceFileUpload" class="voice-file-input" style="display: none;">
                    <div class="voice-title-div-block">
                        <div class="voice-title-text-block">제목</div>
                        <div class="voice-title-input-div-block"><input type="text"
                                class="voice-title-text-field w-input" maxlength="256" name="title"
                                placeholder="" id="title"/></div>
                    </div>
                    <div class="voice-upload-detail-div-block">
                        <div class="voice-upload-image-div-block">
                        		<img id="voiceImage" th:src="@{/static/images/none_image.svg}"
                                loading="lazy" alt="" class="voice-upload-image" th:data-default-src="@{/static/images/none_image.svg}"/>
                                <label class="voice-image-upload-button w-button" th:onclick="voiceImageInput.click()">대표 이미지 업로드</label></div>
                                <input type="file" name="voiceImgFile" id="voiceImageInput" class="voice-Image-input" style="display: none;" th:onchange="displaySelectedVoiceFileImage()">
                        <div class="voice-upload-explain-div-block">
                            <div class="voice-explain-heading">목소리 설명</div><textarea placeholder="설명 입력.."
                                maxlength="5000" id="content" name="content" 
                                class="voice-upload-explain-textarea w-input"></textarea>
                        </div>
                    </div>
                    <div class="voice-upload-button-div-block">
                    		<label onclick="VoiceCommunityLoad(0)" class="voice-upload-cancel-button w-button">취소</label>
                            <input type="submit" value="등록" onclick="VoiceCommunityWriteEndLoad()" class="voice-upload-submit-button w-button" /></div>
                </form>
            </div>
        </div>
    </div>
</div>

</html>