<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org" 
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">
		
<div layout:fragment="content" id="content-container"> 
    <div id="features" class="main-page-section">
        <div class="w-layout-blockcontainer community-page-container w-container">
            <div class="community-menu-div-block">
                <div class="community-menu-request-div-block" onclick="CommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6551b72c09318e5ad39a5493_ai_post_mike.png"
                        loading="lazy" alt="" class="community-menu-request-image" />
                    <div class="community-menu-request-text">신청곡 게시판</div>
                </div>
                <div class="community-menu-voice-div-block" onclick="VoiceCommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/655507fd6c13baf72af07476_voice_download.png"
                        loading="lazy" alt="" class="community-menu-voice-image" />
                    <div class="community-menu-voice-text">목소리 게시판</div>
                </div>
                <div class="community-menu-tip-div-block" onclick="TipCommunityLoad(0)"><img
                        src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6554fe9f2a23195a4cd5e2dd_tip.png"
                        loading="lazy" alt="" class="community-menu-tip-image" />
                    <div class="community-menu-tip-text">팁 게시판</div>
                </div>
            </div>
            <div class="community-heading-div-block"><img
                    src="https://assets-global.website-files.com/65085ce06a89f83f850a1961/6551b72c09318e5ad39a5493_ai_post_mike.png"
                    loading="lazy" alt="" class="community-heading-img" />
                <div class="community-heading-text-block">목소리 게시판</div>
            </div>
            <div class="community-voice-post-divblock">
                <div class="community-voice-post-foreach-divblock">
                    <div class="community-voice-post-div-block" th:each="post, iterStat : ${paging.content}" th:if="${iterStat.index < 3}">
                        <div class="community-voice-post-heading">
                            <div class="community-voice-post-nickname" th:text="${post.uploaderNickname}" th:onclick="memberPageLoad(/*[[${post.uploaderNickname}]]*/)" >nickname</div>
                            <div class="community-voice-post-date" th:text="${#temporals.format(post.regTime, 'MM.dd')}">11.12</div>
                        </div>
                        <div class="community-voice-post-title" th:text="${post.title}" th:onclick="'VoiceCommunityPostLoad(' + ${post.id} + ')'">Title</div>
                        <img th:src="${post.imgUrl}" th:onclick="'VoiceCommunityPostLoad(' + ${post.id} + ')'" loading="lazy" alt="" class="community-voice-post-image" />
                        <div class="community-voice-post-view-div-block">
                        	<img th:src="@{/static/images/view.png}" loading="lazy" alt="" class="community-voice-post-view-image" />
                            <div class="community-voice-post-view" th:text="${post.view}">12</div>
                        </div>
                    </div>
                </div>
                
                
                <div class="community-voice-post-foreach-divblock">
                    <div class="community-voice-post-div-block" th:each="post, iterStat : ${paging.content}" th:if="${iterStat.index >= 3 and iterStat.index < 6}">
                        <div class="community-voice-post-heading">
                            <div class="community-voice-post-nickname" th:text="${post.uploaderNickname}" th:onclick="memberPageLoad(/*[[${post.uploaderNickname}]]*/)" >nickname</div>
                            <div class="community-voice-post-date" th:text="${#temporals.format(post.regTime, 'MM.dd')}">11.12</div>
                        </div>
                        <div class="community-voice-post-title" th:text="${post.title}" th:onclick="'VoiceCommunityPostLoad(' + ${post.id} + ')'">Title</div>
                        <img th:src="${post.imgUrl}" th:onclick="'VoiceCommunityPostLoad(' + ${post.id} + ')'" loading="lazy" alt="" class="community-voice-post-image" />
                        <div class="community-voice-post-view-div-block">
                        	<img th:src="@{/static/images/view.png}" loading="lazy" alt="" class="community-voice-post-view-image" />
                            <div class="community-voice-post-view" th:text="${post.view}">12</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="community-post-create-div-block">
                <div class="community-post-create-button" onclick="VoiceCommunityWriteLoad()">글쓰기</div>
            </div>
            <div class="community-page-div-block">
            	<img th:src="@{/static/images/left_double_arrows.png}"
                    loading="lazy" alt="" class="community-page-control-image" onclick="VoiceCommunityLoad(0)"/>
                <img th:src="@{/static/images/left_arrows.png}" th:onclick="'VoiceCommunityLoad(' + ${paging.number - 1} + ')'"
                    loading="lazy" alt="" class="community-page-control-image" th:style="${!paging.hasPrevious} ? 'display: none;' : ''" />
                    
                <div class="community-page-foreach-div-block" th:if="${paging != null and paging.totalPages > 0}" 	th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}">
                    <div class="community-page-num" th:if="${page >= paging.number-2 and page <= paging.number+2}" th:text="${page + 1}"  th:style="${page == paging.number} ? 'color: #3333FF;' : ''" th:onclick="'VoiceCommunityLoad(' + ${page} + ')'">1</div>
                </div>
                <img th:src="@{static/images/right_arrows.png}" th:onclick="'VoiceCommunityLoad(' + ${paging.number + 1} + ')'"
                    loading="lazy" alt="" class="community-page-control-image"  th:style="${!paging.hasNext} ? 'display: none;' : ''"/>
                <img
                    th:src="@{static/images/right_double_arrow.png}"
                    loading="lazy" alt="" class="community-page-control-image" th:onclick="'VoiceCommunityLoad(' + (${paging.totalPages} - 1) + ')'" />
            </div>
            <div class="community-search-form-block w-form">
                <form id="voice-search-form" name="voice-search-form" method="post"
                    class="community-search-form">
                    <div class="community-search-select-div-block"><select id="filter" name="filter"
                            class="community-search-search-select-field">
                            <option value="title">제목</option>
                            <option value="nickname">업로더</option>
                    </select></div>
                    <input type="text"
                        class="community-search-text-field w-input" maxlength="256" name="keyword"
                        placeholder="" id="keyword" />
                    <input type="submit" value="" onclick="VoiceCommunitySearchLoad()"
                        class="community-search-submit-button w-button" /></form>
            
            </div>
        </div>
    </div>

</html>