<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org" 
	    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}">

<div layout:fragment="content" id="content-container"> 
    <div id="features" class="main-page-section">
        <div class="w-layout-blockcontainer community-page-container w-container">
            <div class="community-menu-div-block">
                <div class="community-menu-request-div-block" onclick="CommunityLoad(0)"><img
                        th:src="@{/static/images/ai_post_mike.png}"
                        loading="lazy" alt="" class="community-menu-request-image" />
                    <div class="community-menu-request-text">신청곡 게시판</div>
                </div>
                <div class="community-menu-voice-div-block" onclick="VoiceCommunityLoad(0)"><img
                        th:src="@{/static/images/voice_download.png}"
                        loading="lazy" alt="" class="community-menu-voice-image" />
                    <div class="community-menu-voice-text">목소리 게시판</div>
                </div>
                <div class="community-menu-tip-div-block" onclick="TipCommunityLoad(0)"><img
                        th:src="@{/static/images/tip.png}"
                        loading="lazy" alt="" class="community-menu-tip-image" />
                    <div class="community-menu-tip-text">팁 게시판</div>
                </div>
            </div>
            <div class="community-heading-div-block"><img
                    th:src="@{/static/images/tip.png}"
                    loading="lazy" alt="" class="community-heading-img" />
                <div class="community-heading-text-block">목소리 게시판</div>
            </div>
            <div class="community-post-heading-div-block">
                <div class="community-post-title" th:text="${aiPost.title}">테스트제목</div>
                <div class="community-post-member-detail-div-block">
                	<img th:src="${aiPost.uploaderImg}"
                        loading="lazy" alt="" class="community-post-member-image" />
                    <div class="community-post-member-nickname" th:text="${aiPost.uploaderNickname}" th:onclick="memberPageLoad(/*[[${aiPost.uploaderNickname}]]*/)">닉네임</div>
                </div>
            </div>
            <img th:src="${aiPost.imgUrl}" loading="lazy" alt="" class="community-voice-post-content-image" />
            <div class="community-post-content" th:utext="${#strings.replace(aiPost.content, '\n', '<br>')}">이 곡 제발 만들어주세요 ㅠㅠ</div>
            <div class="voice-download-div-block">
            	<img th:src="@{/static/images/file_download.png}" th:data-voice-url="${aiPost.voiceUrl}" th:data-ori-voice-name="${aiPost.voiceName}" th:onclick="VoiceFileDownload(this)" loading="lazy" alt="" class="voice-download-image" />
                <div class="voice-download-text-block">
                    <div class="voice-download-file-name" th:text="${aiPost.oriVoiceName}">Sample.wav</div>
                    <div class="voice-download-file-size" th:text="${aiPost.voiceFileSize} + ' MB'">1.30 MB</div>
                </div>
            </div>
            <div class="community-post-comment-div-block">
                <div class="coummunity-post-comment-foreach-div-block" th:each="comment : ${comment}">
                    <div class="community-post-comment-member-detail-div-block">
                    	<img th:src="${comment.uploaderImg}" loading="lazy" alt="" class="community-post-comment-member-image" />
                        <div th:text="${comment.uploaderNickname}"  th:onclick="memberPageLoad(/*[[${comment.uploaderNickname}]]*/)" class="community-post-comment-nickname">닉네임</div>
                        <div th:text="${#temporals.format(comment.regTime, 'MM.dd HH:mm')}" class="community-post-comment-date">11.17 01:42:43</div>
                    </div>
                    <div th:utext="${#strings.replace(comment.comment, '\n', '<br>')}" class="community-post-comment-text">ㅇㅈㅇㅈ 꼭 만들어주셈</div>
                </div>
            </div>
            <div class="community-post-comment-write-form-block w-form">
                <form id="community-post-comment-write-form" name="community-post-comment-write-form" method="post"
                    class="community-post-comment-write-form">
                    <div class="community-post-comment-write-div-block">
                    	<img th:if="${not #strings.isEmpty(loginPictureUrl)}" th:src="${loginPictureUrl}" loading="lazy" alt="" class="community-post-comment-member-image" />
						<img th:unless="${not #strings.isEmpty(loginPictureUrl)}" th:src="@{/static/images/profile_image.svg}" loading="lazy" alt="" class="community-post-comment-member-image"/>
                    	<textarea placeholder="댓글 추가.." maxlength="5000" id="field" name="comment"
                            class="community-post-comment-write-textarea w-input"></textarea>
                        <input type="hidden" name="postId" th:value="${aiPost.id}">
                    </div>
                        <input type="submit" value="등록" onclick="VoiceCommunityCommentWrite()" class="community-post-comment-write-submit-button w-button" />
                </form>
            </div>
            <div class="community-page-div-block"><img th:src="@{/static/images/left_double_arrows.png}"
                    loading="lazy" alt="" class="community-page-control-image" th:onclick="'CommunityPostLoad(' + ${aiPost.id} + ', 0)'"/>
                <img th:src="@{/static/images/left_arrows.png}" th:onclick="'CommunityPostLoad(' + ${aiPost.id} + ', ' + ${comment.number - 1} + ')'"
                    loading="lazy" alt="" class="community-page-control-image" th:style="${!comment.hasPrevious} ? 'display: none;' : ''" />
                    
                <div class="community-page-foreach-div-block" th:if="${comment != null and comment.totalPages > 0}" th:each="page: ${#numbers.sequence(0, comment.totalPages-1)}">
				    <div class="community-page-num" th:if="${page >= comment.number-2 and page <= comment.number+2}" th:text="${page + 1}" th:style="${page == comment.number} ? 'color: #3333FF;' : ''" th:onclick="'CommunityPostLoad(' + ${aiPost.id} + ', ' + ${page} + ')'"></div>
				</div>
                
                <img th:src="@{static/images/right_arrows.png}" th:onclick="'CommunityPostLoad(' + ${aiPost.id} + ', ' + ${comment.number + 1} + ')'"
                    loading="lazy" alt="" class="community-page-control-image"  th:style="${!comment.hasNext} ? 'display: none;' : ''"/>
                <img
                    th:src="@{static/images/right_double_arrow.png}"
                    loading="lazy" alt="" class="community-page-control-image" th:onclick="'CommunityPostLoad(' + ${aiPost.id} + ', ' + (${comment.totalPages} - 1) + ')'" />
            </div>
            <div class="community-search-form-block w-form">
                <form id="email-form" name="email-form" method="get"
                    class="community-search-form" ><input type="text"
                        class="community-search-text-field w-input" maxlength="256" name="name" data-name="Name"
                        placeholder="" id="name" /><input type="submit" value=""
                        class="community-search-submit-button w-button" /></form>
            </div>
        </div>
    </div>
</div>

</html>